<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 colors="true">
	<testsuites>
		<testsuite name="JsonSerializerTests">
			<file phpVersion="8.1.0">./tests/EnumSerializationTest.php</file>
			<file>./tests/JsonSerializerTest.php</file>
			<directory>./tests/ClosureSerializer</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./src</directory>
		</whitelist>
	</filter>
</phpunit>
